##Import Package

In [ ]:
!pip install scikit-criteria==0.2.11

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-criteria==0.2.11
  Downloading scikit-criteria-0.2.11.tar.gz (52 kB)
     |████████████████████████████████| 52 kB 1.3 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from scikit-criteria==0.2.11) (1.21.6)
Requirement already satisfied: scipy in /usr/local/lib/python3.8/dist-packages (from scikit-criteria==0.2.11) (1.7.3)
Collecting mock
  Downloading mock-4.0.3-py3-none-any.whl (28 kB)
Requirement already satisfied: tabulate in /usr/local/lib/python3.8/dist-packages (from scikit-criteria==0.2.11) (0.8.10)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.8/dist-packages (from scikit-criteria==0.2.11) (3.2.2)
Collecting pulp
  Downloading PuLP-2.7.0-py3-none-any.whl (14.3 MB)
     |████████████████████████████████| 14.3 MB 14.5 MB/s
Collecting json-tricks
  Downloading json_tricks-3.16.1-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from scikit-criteria==0.2.11) (1.2.0)
Requirement already satisfied: attrs in /usr/local/lib/python3.8/dist-packages (from scikit-criteria==0.2.11) (22.1.0)
Requirement already satisfied: pytest in /usr/local/lib/python3.8/dist-packages (from scikit-criteria==0.2.11) (3.6.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->scikit-criteria==0.2.11) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib->scikit-criteria==0.2.11) (0.11.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->scikit-criteria==0.2.11) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib->scikit-criteria==0.2.11) (3.0.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.1->matplotlib->scikit-criteria==0.2.11) (1.15.0)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.8/dist-packages (from pytest->scikit-criteria==0.2.11) (1.11.0)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.8/dist-packages (from pytest->scikit-criteria==0.2.11) (0.7.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from pytest->scikit-criteria==0.2.11) (57.4.0)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.8/dist-packages (from pytest->scikit-criteria==0.2.11) (1.4.1)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from pytest->scikit-criteria==0.2.11) (9.0.0)
Building wheels for collected packages: scikit-criteria
  Building wheel for scikit-criteria (setup.py) ... done
  Created wheel for scikit-criteria: filename=scikit_criteria-0.2.11-py3-none-any.whl size=116439 sha256=52ac60e4cb5055c4851087cef9a1be9015435e9f905087c7bfe1f666ca3d5cf4
  Stored in directory: /root/.cache/pip/wheels/56/d3/68/dda9975c8e89c2cfff66fd38fc05340d1f73f0dc9cc40532e1
Successfully built scikit-criteria
Installing collected packages: pulp, mock, json-tricks, scikit-criteria
Successfully installed json-tricks-3.16.1 mock-4.0.3 pulp-2.7.0 scikit-criteria-0.2.11

In [ ]:
#import package 

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import minmax_scale
%matplotlib inline
# !pip install -U scikit-criteria
from skcriteria import Data, MIN, MAX
import statsmodels.api as sm
import statistics

## Desiccated Coconut

In [ ]:
url = "https://github.com/shofi78/RGP-Project/raw/main/dataset/Desiccated%20Coconut%20Competitiveness%20rev1.xlsx"

In [ ]:
df = pd.read_excel(url, "Sheet1")
df["Unit Price"] = df['CIF Value (USD)']/df["Quantity (kg)"]

In [ ]:
df.columns

Index(['Year', 'Importer', 'HS Code', 'Product', 'Quantity (kg)',
       'CIF Value (USD)', 'Xij (USD)', 'Xj(USD)', 'Xiw (USD )', 'Xw (USD)',
       'RCA', 'Avg Tariff (%)', 'Easy Doing Business Rank', 'Avg Distance(km)',
       'Unit Price'],
      dtype='object')

In [ ]:
#Drop kolom yang tidak digunakan
df = df.drop(['Xij (USD)', 'Xj(USD)', 'Xiw (USD )', 'Xw (USD)','Easy Doing Business Rank'], axis=1)

### Proses Wrangling 
- Membuat perankingan dengan Multi Criteria Decision Making menggunakan **skcriteria** package untuk menghasil pilihan terbaik dari beberapa kriteria yang mempengaruhinya

In [ ]:
df.head()

,Year,Importer,HS Code,Product,Quantity (kg),CIF Value (USD),RCA,Avg Tariff (%),Avg Distance(km),Unit Price
0,2021,Australia,80111,"Nuts, edible; coconuts, desiccated",9.407127e+06,2.389052e+07,7.980153,0.0,6954,2.539620
1,2021,China,80111,"Nuts, edible; coconuts, desiccated",1.979375e+07,3.611530e+07,10.381999,0.0,3122,1.824581
2,2021,Dominican Rep.,80111,"Nuts, edible; coconuts, desiccated",2.400073e+07,2.931045e+07,10.476342,20.0,6303,1.221232
3,2021,France,80111,"Nuts, edible; coconuts, desiccated",8.769232e+06,2.625190e+07,131.164060,0.0,7642,2.993638
4,2021,Germany,80111,"Nuts, edible; coconuts, desiccated",2.525530e+07,7.333973e+07,205.618961,0.0,9048,2.903934

In [ ]:

criteria_data = Data(
    df.iloc[:, 6:],                      # the pandas dataframe
    [MAX, MIN, MIN, MAX],                       # direction of goodness for each column
    anames = df['Importer'],        # each entity's name
    cnames = df.columns[6:]             # column name
    )
criteria_data

  ALT./CRIT.     RCA (max)    Avg Tariff (%) (min)    Avg Distance(km) (min)    Unit Price (max)
--------------  -----------  ----------------------  ------------------------  ------------------
  Australia       7.98015              0                       6954                 2.53962
    China         10.382               0                       3122                 1.82458
Dominican Rep.    10.4763              20                      6303                 1.22123
    France        131.164              0                       7642                 2.99364
   Germany        205.619              0                       9048                 2.90393
    Japan         3.16933              0                       4952                 2.78581
   Malaysia       2.80617              0                       1414                  1.275
 Netherlands      25.3916              0                       8892                 2.59501
    Poland          136                0                       6682                 2.82432
    Rusia         82.7131             0.7                      7932                 2.45026
 Saudi Arabia     52.3906              5                       4999                 2.29476
    India        0.196983             26.8                     7851                 2.10773
  Singapore       27.1678              0                       770                  0.783251
    Spain         37.5938              0                       8060                 2.62462
   Thailand        11.48               0                       1283                 2.19951
     UAE          61.1821              5                       5311                 1.76609
    Turkey        49.9059             14.1                     8826                 1.84514
    Egypt         19.3925             16.9                     7640                  2.7356
United Kingdom    82.3748              0                       7606                 3.05535
     USA          4.17823              0                      12811                 2.77878

In [ ]:
# Melakukan perankingan untuk semua data

from skcriteria.madm import simple
#weighted sum
dm = simple.WeightedSum(mnorm='sum')
dec = dm.decide(criteria_data)
dec

/usr/local/lib/python3.8/dist-packages/skcriteria/norm.py:572: RuntimeWarning: divide by zero encountered in true_divide
  mincrits_inverted = 1.0 / arr[:, mincrits]

WeightedSum (mnorm=sum, wnorm=sum) - Solution:
  ALT./CRIT.     RCA (max)    Avg Tariff (%) (min)    Avg Distance(km) (min)    Unit Price (max)    Rank
--------------  -----------  ----------------------  ------------------------  ------------------  ------
  Australia       7.98015              0                       6954                 2.53962          1
    China         10.382               0                       3122                 1.82458          2
Dominican Rep.    10.4763              20                      6303                 1.22123          17
    France        131.164              0                       7642                 2.99364          3
   Germany        205.619              0                       9048                 2.90393          4
    Japan         3.16933              0                       4952                 2.78581          5
   Malaysia       2.80617              0                       1414                  1.275           6
 Netherlands      25.3916              0                       8892                 2.59501          7
    Poland          136                0                       6682                 2.82432          8
    Rusia         82.7131             0.7                      7932                 2.45026          14
 Saudi Arabia     52.3906              5                       4999                 2.29476          15
    India        0.196983             26.8                     7851                 2.10773          20
  Singapore       27.1678              0                       770                  0.783251         9
    Spain         37.5938              0                       8060                 2.62462          10
   Thailand        11.48               0                       1283                 2.19951          11
     UAE          61.1821              5                       5311                 1.76609          16
    Turkey        49.9059             14.1                     8826                 1.84514          19
    Egypt         19.3925             16.9                     7640                  2.7356          18
United Kingdom    82.3748              0                       7606                 3.05535          12
     USA          4.17823              0                      12811                 2.77878          13

In [ ]:
# Mengubah tipe data dari array to series terlebih dahulu
rank = pd.Series(dec.rank_, name='rank')

# Menggabungkan data 
df_rank= pd.concat([df,rank],axis=1)

# Mengurutkan ranking dari tertinggi ke terendah
df_rank.sort_values(by=['rank'], ignore_index=True, inplace=True)

In [ ]:
df_rank

,Year,Importer,HS Code,Product,Quantity (kg),CIF Value (USD),RCA,Avg Tariff (%),Avg Distance(km),Unit Price,rank
0,2021,Australia,80111,"Nuts, edible; coconuts, desiccated",9.407127e+06,2.389052e+07,7.980153,0.0,6954,2.539620,1
1,2021,China,80111,"Nuts, edible; coconuts, desiccated",1.979375e+07,3.611530e+07,10.381999,0.0,3122,1.824581,2
2,2021,France,80111,"Nuts, edible; coconuts, desiccated",8.769232e+06,2.625190e+07,131.164060,0.0,7642,2.993638,3
3,2021,Germany,80111,"Nuts, edible; coconuts, desiccated",2.525530e+07,7.333973e+07,205.618961,0.0,9048,2.903934,4
4,2021,Japan,80111,"Nuts, edible; coconuts, desiccated",4.800845e+06,1.337424e+07,3.169335,0.0,4952,2.785810,5
5,2021,Malaysia,80111,"Nuts, edible; coconuts, desiccated",1.327796e+07,1.692934e+07,2.806171,0.0,1414,1.274996,6
6,2021,Netherlands,80111,"Nuts, edible; coconuts, desiccated",3.440113e+07,8.927129e+07,25.391594,0.0,8892,2.595010,7
7,2021,Poland,80111,"Nuts, edible; coconuts, desiccated",1.021857e+07,2.886046e+07,136.000010,0.0,6682,2.824316,8
8,2021,Singapore,80111,"Nuts, edible; coconuts, desiccated",3.325060e+07,2.604357e+07,27.167782,0.0,770,0.783251,9
9,2021,Spain,80111,"Nuts, edible; coconuts, desiccated",6.832213e+06,1.793195e+07,37.593825,0.0,8060,2.624618,10
10,2021,Thailand,80111,"Nuts, edible; coconuts, desiccated",1.343099e+07,2.954159e+07,11.479973,0.0,1283,2.199510,11
11,2021,United Kingdom,80111,"Nuts, edible; coconuts, desiccated",1.531605e+07,4.679590e+07,82.374799,0.0,7606,3.055350,12
12,2021,USA,80111,"Nuts, edible; coconuts, desiccated",5.356847e+07,1.488551e+08,4.178229,0.0,12811,2.778782,13
13,2021,Rusia,80111,"Nuts, edible; coconuts, desiccated",2.005919e+07,4.915014e+07,82.713090,0.7,7932,2.450256,14
14,2021,Saudi Arabia,80111,"Nuts, edible; coconuts, desiccated",4.647077e+06,1.066394e+07,52.390560,5.0,4999,2.294762,15
15,2021,UAE,80111,"Nuts, edible; coconuts, desiccated",1.224410e+07,2.162414e+07,61.182128,5.0,5311,1.766087,16
16,2021,Dominican Rep.,80111,"Nuts, edible; coconuts, desiccated",2.400073e+07,2.931045e+07,10.476342,20.0,6303,1.221232,17
17,2021,Egypt,80111,"Nuts, edible; coconuts, desiccated",1.160865e+07,3.175658e+07,19.392519,16.9,7640,2.735597,18
18,2021,Turkey,80111,"Nuts, edible; coconuts, desiccated",1.783232e+07,3.290308e+07,49.905894,14.1,8826,1.845138,19
19,2021,India,80111,"Nuts, edible; coconuts, desiccated",7.043460e+06,1.484568e+07,0.196983,26.8,7851,2.107726,20

In [ ]:
# save to excel and visualization
from google.colab import files
df_rank.to_excel('dc_rangking.xlsx')
files.download('dc_rangking.xlsx')

## Briquette

In [ ]:
url = "https://github.com/shofi78/RGP-Project/raw/main/dataset/Briquette%20Competitiveness.xlsx"

In [ ]:
df2 = pd.read_excel(url)
df2["Unit Price"] = df2["Value (USD)"]/df2["Quantity (kg)"]
df2.head()

,Year,Importer,HS Code,Product,Quantity (kg),Value (USD),Xij (USD),Xj(USD x 103 ),Xiw (USD ),Xw (USD x 103 ),RCA,Avg Tariff (%),Distance (km),Unit Price
0,2021,USA,440290,Wood; charcoal of wood other than bamboo (incl...,1.830100e+08,119512160,6250000,25665933,119512160,2937064484,5.984451,0,14972,0.653036
1,2021,Japan,440290,Wood; charcoal of wood other than bamboo (incl...,1.218080e+08,105104155,14504000,17736773,105104155,772678811,6.011631,0,4808,0.862867
2,2021,Germany,440290,Wood; charcoal of wood other than bamboo (incl...,1.491845e+08,97653584,5863000,2799691,97653584,1421195357,30.477223,0,11014,0.654583
3,2021,China,440290,Wood; charcoal of wood other than bamboo (incl...,2.614294e+08,87063526,7448000,53713561,87063526,2675680064,4.261413,0,4181,0.333029
4,2021,Rep. of Korea,440290,Wood; charcoal of wood other than bamboo (incl...,9.884540e+07,85459789,19797000,8408928,85459789,615034495,16.943238,0,4309,0.864580

In [ ]:
df = pd.read_excel(url, "Sheet1")
df["Unit Price"] = df['CIF Value (USD)']/df["Quantity (kg)"]

In [ ]:

criteria_data = Data(
    df2.iloc[:, 10:],                      # the pandas dataframe
    [MAX, MIN, MIN, MAX],                       # direction of goodness for each column
    anames = df2['Importer'],        # each entity's name
    cnames = df2.columns[10:]             # column name
    )
criteria_data

     ALT./CRIT.        RCA (max)    Avg Tariff (%) (min)    Distance (km) (min)    Unit Price (max)
--------------------  -----------  ----------------------  ---------------------  ------------------
        USA             5.98445              0                     14972               0.653036
       Japan            6.01163              0                     4808                0.862867
      Germany           30.4772              0                     11014               0.654583
       China            4.26141              0                     4181                0.333029
   Rep. of Korea        16.9432              0                     4309                0.86458
    Saudi Arabia        57.0333              0                     7907                0.603892
   United Kingdom       13.9533              0                     11770               0.668033
       France           3.2607               0                     11728               0.797971
       Poland          0.720981              0                     10405               0.380291
    Netherlands         47.8092              0                     11340               0.714347
       Italy           0.547541              0                     11010               0.484093
      Belgium           125.862              0                     11441               0.650139
       Norway              0                 0                     10924               0.772498
       Greece           27.4107              0                     10248               0.554713
       Jordan           25.9554              0                     8880                0.652881
United Arab Emirates    72.552               0                     7020                0.450067
       Sweden           23.956               0                     10375               0.707486
       Canada           4.34387              0                     12893               0.141981
      Portugal         0.726948              0                     12777               0.36734
       Turkey           85.3442              0                     9089                0.61492

In [ ]:
# Mengubah tipe data dari array to series terlebih dahulu
rank = pd.Series(dec.rank_, name='rank')

# Menggabungkan data 
df2_rank= pd.concat([df2,rank],axis=1)

# Mengurutkan ranking dari tertinggi ke terendah
df2_rank.sort_values(by=['rank'], ignore_index=True, inplace=True)

In [ ]:
df2_rank

,Year,Importer,HS Code,Product,Quantity (kg),Value (USD),Xij (USD),Xj(USD x 103 ),Xiw (USD ),Xw (USD x 103 ),RCA,Avg Tariff (%),Distance (km),Unit Price,rank
0,2021,USA,440290,Wood; charcoal of wood other than bamboo (incl...,1.830100e+08,119512160,6250000,25665933,119512160,2937064484,5.984451,0,14972,0.653036,1
1,2021,Japan,440290,Wood; charcoal of wood other than bamboo (incl...,1.218080e+08,105104155,14504000,17736773,105104155,772678811,6.011631,0,4808,0.862867,2
2,2021,China,440290,Wood; charcoal of wood other than bamboo (incl...,2.614294e+08,87063526,7448000,53713561,87063526,2675680064,4.261413,0,4181,0.333029,3
3,2021,Rep. of Korea,440290,Wood; charcoal of wood other than bamboo (incl...,9.884540e+07,85459789,19797000,8408928,85459789,615034495,16.943238,0,4309,0.864580,4
4,2021,Saudi Arabia,440290,Wood; charcoal of wood other than bamboo (incl...,1.376932e+08,83151832,47875000,1537819,83151832,152333959,57.033296,0,7907,0.603892,5
5,2021,United Kingdom,440290,Wood; charcoal of wood other than bamboo (incl...,9.661612e+07,64542776,1927000,1472630,64542776,688236539,13.953339,0,11770,0.668033,6
6,2021,France,440290,Wood; charcoal of wood other than bamboo (incl...,8.052244e+07,64254581,306000,1025147,64254581,701907963,3.260704,0,11728,0.797971,7
7,2021,Poland,440290,Wood; charcoal of wood other than bamboo (incl...,1.255036e+08,47727838,63000,614150,47727838,335451322,0.720981,0,10405,0.380291,8
8,2021,Norway,440290,Wood; charcoal of wood other than bamboo (incl...,3.891976e+07,30065439,0,53345,30065439,98636184,0.000000,0,10924,0.772498,9
9,2021,Greece,440290,Wood; charcoal of wood other than bamboo (incl...,5.276676e+07,29270397,2395000,226818,29270397,75983832,27.410729,0,10248,0.554713,10
10,2021,Jordan,440290,Wood; charcoal of wood other than bamboo (incl...,4.396185e+07,28701852,10847000,309630,28701852,21265308,25.955438,0,8880,0.652881,11
11,2021,Portugal,440290,Wood; charcoal of wood other than bamboo (incl...,6.231308e+07,22890107,21000,124104,22890107,98337110,0.726948,0,12777,0.367340,12
12,2021,Turkey,440290,Wood; charcoal of wood other than bamboo (incl...,3.307878e+07,20340789,9877000,1544293,20340789,271422758,85.344161,0,9089,0.614920,13
13,2021,Netherlands,440290,Wood; charcoal of wood other than bamboo (incl...,6.010243e+07,42933976,15215000,4619756,42933976,623246504,47.809220,0,11340,0.714347,14
14,2021,Italy,440290,Wood; charcoal of wood other than bamboo (incl...,6.927854e+07,33537274,92000,2791746,33537274,557227660,0.547541,0,11010,0.484093,15
15,2021,United Arab Emirates,440290,Wood; charcoal of wood other than bamboo (incl...,6.024690e+07,27115145,10220000,1805430,27115145,347529087,72.552013,0,7020,0.450067,16
16,2021,Germany,440290,Wood; charcoal of wood other than bamboo (incl...,1.491845e+08,97653584,5863000,2799691,97653584,1421195357,30.477223,0,11014,0.654583,17
17,2021,Canada,440290,Wood; charcoal of wood other than bamboo (incl...,1.710953e+08,24292270,228000,1057831,24292270,489582673,4.343867,0,12893,0.141981,18
18,2021,Sweden,440290,Wood; charcoal of wood other than bamboo (incl...,3.622217e+07,25626687,784000,238958,25626687,187116442,23.955982,0,10375,0.707486,19
19,2021,Belgium,440290,Wood; charcoal of wood other than bamboo (incl...,4.672094e+07,30375119,11579000,1612938,30375119,532547499,125.861743,0,11441,0.650139,20

In [ ]:
# save to excel and visualization
from google.colab import files
df2_rank.to_excel('briquette_rangking.xlsx')
files.download('briquette_rangking.xlsx')